* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100dvh;
}


.logo-mario {
    height: 200px;
}

button {
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.imagem-mario-luigi {
    height: 400px;
}

.caixa-principal {
    max-width: 50%;
}

.caixa-principal p {
    color: #fff;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.mascara{
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.link-whatsapp{
    height: 100px;
}

.link-whatsapp > img {
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}